li{
    list-style-type: none;
}

.container{
    width: 100%;
    height: 350px;
    background-color: rgb(73, 77, 77);
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
}

.info{
    margin: 10px;
}

.social{
    width: 30px;
    height: 30px;
    margin: 20px;
}