.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 70%;
    margin: 2% 2% 2% 2%;
    height: 85%;
}

@media (max-width: 1080px) {
    .container{
        width: 90%;
    }
}