.container{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.emptyContainer {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 400px;
    width: 40%;
    margin: 2% 2% 2% 2%;
    border-radius: 3px;
    border: 1px solid #21201f;
}

.title{
    margin-top: 1%;
    margin-left: 4%;
    font-size: 25px;
}

.description{
    font-size: 18px;
    margin-left: 4%;
}

.totalContainer{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 4%;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.orderContainer{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 4%;
    margin-bottom: 4%;
}
    
.button{
    border-radius: 1%;
    border:none;
    background-color: #21201f;
    height: 40px;
    min-width: 40%;
    margin: 1% 1% 1% 1%; 
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.01);
}

@media (max-width: 1080px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info, .totalContainer{
        width: 90%;
    }

}